{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<a href="/" style="margin: 15px;"><button type="button">Home</button></a>
<div class="content">
    <h1 style="text-align: center;">Price analytics</h1>
    <a>Enter a name of a book</a>
    <form action="/analytics" method="post">
        <input type="text" name="content" id="content">
        <input type="submit" value="Submit">
    </form>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    {% if img_base64 %}
        <img src="data:image/png;base64,{{ img_base64 }}" alt="Analytics">
    {% endif %}
    {% if min_price is defined and max_price is defined and avg_price is defined %}
    <div style="margin-top: 20px;">
        <p>Min price: {{ min_price }}</p>
        <p>Max price: {{ max_price }}</p>
        <p>Avg price: {{ avg_price }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}